.Header{
    background-color: rgb(7,138,248);
    position: fixed;
    width: 100%;
    z-index: 2;

    h3{
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 30px;
        color: white;
    }

   
}

.header-content{
        padding: 15px;
        display: flex;
        justify-content: space-between;
}